In [16]:
import mysql.connector as connector
import pandas as pd

MYSQL CONNECTION OBJECT

In [29]:
connection = connector.connect(
  user="root",
  passwd="password",
  database="LittleLemonDB",
  auth_plugin='mysql_native_password'  
)

In [30]:
print(connector)

<module 'mysql.connector' from '/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/mysql/connector/__init__.py'>

In [31]:
pd.read_sql_query('SHOW TABLES', connection)

/var/folders/bt/k8g5wydd5qbcxjtj6ghlh03h0000gn/T/ipykernel_99376/1530871708.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query('SHOW TABLES', connection)

  Tables_in_littlelemondb
0                Bookings
1                Customer
2                    Menu
3           OrderDelivery
4                  Orders
5              ordersview
6             ordersview2
7                   Staff

In [21]:
pd.read_sql_query('SHOW COLUMNS FROM Bookings', connection)

/var/folders/bt/k8g5wydd5qbcxjtj6ghlh03h0000gn/T/ipykernel_99376/457846428.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query('SHOW COLUMNS FROM Bookings', connection)

          Field      Type Null  Key Default           Extra
0     BookingID       int   NO  PRI    None  auto_increment
1  Booking_date  datetime   NO         None
2   TableNumber       int   NO         None

In [32]:
cursor = connection.cursor()

In [41]:
show_tables_query = 'SHOW tables'
cursor.execute(show_tables_query)
results = cursor.fetchall()
print(results)

[('Bookings',), ('Customer',), ('Menu',), ('OrderDelivery',), ('Orders',), ('ordersview',), ('ordersview2',), ('Staff',)]

In [46]:

# Step Two
query = """
SELECT Customer.FullName, Customer.Contact, Orders.TotalCost
FROM Customer
INNER JOIN Orders ON Customer.CustomerID = Orders.Cust_CustomerID
"""

# Step Three
query += "WHERE Orders.TotalCost > 60"

# Execute the query
cursor.execute(query)

# Fetch all results
results = cursor.fetchall()

# Display the results
for row in results:
    print("Full Name:", row[0])
    print("Contact Details:", row[1])
    print("Total Cost:", row[2])